@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
@media(min-width:300px){
    .video-background{
        width: 100%;
        height: auto;
    }
    .header{
        width: 100%;
        height: 100vh;
    }
    img{
        width: 100%;
    }
    body{
        background: #212121;
    }
    .video-background{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    
    }
    .one{
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%,-50%);
        background-color: rgba(0,0,0,0.5);
        box-sizing: border-box;
        box-shadow:0 15px 25px rgba(0,0,0,0.6) ;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .login-box img{
        height: 190px;
        width: 320px;
        display: flex;
        justify-content: center;
    }
    .login-box h2{
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .form{
        position: relative;
        padding: 0.5rem;
    }
    .form label{
        font-size: 1.1rem;
    }
    .form input{
        width: 40%;
        padding: 0.5rem;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border-bottom: 1px solid #fff;
        outline: none;
        background-color: transparent;
    }
    .form input[type="text"]{
        border: none;
        padding: 0.8rem;
        outline: none;
        border-bottom: 1px solid #fff;
        font-size: 1.2rem;
        width: 90%;
        
    }
    .form input[type="radio"],input[type="checkbox"]{
        margin-right: 1rem;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .form input[type="radio"],input[type="checkbox"]:hover{
        cursor: pointer;
    }
    .gender{
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
    }
    .gender:hover{
        cursor: pointer;
    }
    .checkboxes{
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
    }
    .checkboxes:hover{
        cursor: pointer;
    }
    .form input[type="submit"]{
        color: #fff;
        font-weight: bold;
        outline: none;
        border: 1px solid #fff;
        width: 90%;
        padding: 1rem;
        border-radius: 12px;
        margin-top: 3vh;
    }
    .form input[type="submit"]:hover{
        box-shadow: 1px 2px 2px 2px lightgray;
        cursor: pointer;
    }
    .equipment_lists h3{
        text-align: center;
        padding-top: 4vh;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .cards img{
        width: 90%;
        border-radius: 20px;
    }
    .card{
        padding: 1rem;
        margin: 1.5rem;
    }
    .card:hover{
        margin:0;
        padding: 0 0 0 0;
        display: flex;
        box-shadow: none;
        cursor: pointer;
    }
    .segmentA,.segmentB{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .segmentA h3{
        text-align: center;
        padding-top: 4vh;
        padding-bottom: 4vh;
    
    }
    .segmentA img{
        width: 90%;
        border-radius: 20px;
    }
    .segmentA img:hover{
        box-shadow: 1px 2px 2px 2px lightgray;
        cursor: pointer;
    }
    .segmentB{
        background: #212121;
    }
    .segmentB h3{
        text-align: center;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    .segmentB img{
        width: 90%;
        border-radius: 20px;
    }
    .segmentB img:hover{
        box-shadow: 1px 2px 2px 2px lightgray;
        cursor: pointer;
    }
}
@media(min-width:700px){
    .login-box img{
        height: 270px;
        width: 320px;
        display:flex;
        justify-content: center;
    }
    .login-box h2{
        font-size: 1.3rem;
    }
    .form input[type="radio"],input[type="checkbox"]:hover{
        cursor: pointer;
    }
    .checkboxes:hover{
        cursor: pointer;
    }
    .form input[type="submit"]:hover{
        box-shadow: 1px 2px 2px 2px lightgray;
        cursor: pointer;
    }
    .equipment_lists h3{
        font-size: 1.6rem;
    }
    .cards{
        margin: 4.5rem;
    }
    .card:hover{
        margin:0;
        padding: 0 0 0 0;
        display: flex;
        box-shadow: none;
        cursor: pointer;
    }
    .segments h3{
        font-size: 1.6rem;
    }
    .segmentA img:hover{
        box-shadow: 1px 2px 2px 2px lightgray;
        cursor: pointer;
    }
    .segmentB img:hover{
        box-shadow: 1px 2px 2px 2px lightgray;
        cursor: pointer;
    }
}
@media(min-width:900px){
    .login-box img{
        height: 190px;
        width: 320px;
        display:flex;
        justify-content: center;
    }
    .one input[type="text"]{
        font-size: 0.9rem;
        padding-top: 0.3rem;

    }
    .one label,input[type="text"]{
        font-size: 0.9rem;
    }
    .one .form{
        padding: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    } 
    .form .button{
        width: 100%;
        font-size: 0.9rem;
        padding-bottom: 2px;
    }
    .equipment_lists h3{
        font-size: 1rem;
        margin-top: 10vh;
    }
    .cards{
        grid-template-columns: repeat(4,1fr); 
    }
    .segments{
        display: flex;
    }
    .segmentA img{
        width: 50%;
    }
    .segmentA h3{
        font-size: 1rem;
    }
    .segmentB h3{
        font-size: 1rem;
    }
    .segmentB img{
        width: 128%;
    }

}

